<% provide(:title, 'Home') %>
<!--<h1>Welcome, <%= full_name current_user %></h1>-->

<!--<h1>The Wall</h1>-->

<div class="row"><div class="col-md-8 col-md-offset-2"><div id="wall"><%= render @feed %></div>
<%= will_paginate @feed %>
<%= render 'shared/post_form' %>
</div></div>

<%= subscribe_to "/wall/#{@user.id}" %>
<script>
    PrivatePub.subscribe('/wall/<%= @user.id %>', function (data, channel) {
        $('#wall').prepend(form_input(data));
    });


    var form_input;

    form_input = function (data) {
        var output;
        return output = "<div class=\"post\"><p><strong>" + data.post.from + "</strong></p><p>" + data.post.content + "</p><img src=\"" + data.post.image + "\" class=\"img-responsive img-thumbnail post_image\" /><hr></div>";
    };
    $('#post_content').keypress(check_key);
</script>