<% provide(:title, 'Home') %>
<h1>Welcome, <%= current_user.username %></h1>

<h1>The Wall</h1>

<div id="wall"><%= render @current_user.feed %></div>
<%= render 'shared/post_form' %>


<%= subscribe_to "/wall/#{@user.id}" %>
<script>
    PrivatePub.subscribe('/wall/<%= @user.id %>', function (data, channel) {
        $('#wall').prepend(form_input(data));
    });


    var form_input;

    form_input = function (data) {
        var output;
        return output = "<div class=\"post\"><p><strong>" + data.post.from + "</strong></p><p>" + data.post.content + "</p><img src=\"" + data.post.image + "\" class=\"img-responsive img-thumbnail post_image\" /><hr></div>";
    };
    $('#post_content').keypress(function (e) {
        if (e.which === 13) {
            return $('#new_post').submit();
        }
    });
</script>