<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div id="user-<%= user.id %>" class="user-tile">
  <%= link_to full_name(user), user %><br>
  <%= user.username %>
  <%= user.email %>
  <%= image_tag user.avatar.url, class: 'img-responsive img-thumbnail' if user.avatar? %>
  <% if @current_user.is_friend?(user) %>
      <%= form_for :friend, url: remove_friend_path do |f| %>
          <%= hidden_field_tag :one, @current_user.id %>
          <%= hidden_field_tag :two, user.id %>
          <%= f.submit 'Remove friend', class: 'btn btn-danger' %>
      <% end %>
  <% end %>
</div></div>