<% provide(:title, 'Register') %>
<%= form_for @user do |f| %>
    <%= f.label 'Username' %>
    <span id="hint"></span>
    <%= f.text_field :username %>
    <%= f.label 'Email' %>
    <%= f.email_field :email %>
    <%= f.label 'Password' %>
    <%= f.password_field :password %>
    <%= f.label 'Password confirmation' %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit 'Submit' %>
<% end %>
