<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>
<% unless @current_user.has_dialog_with(@user) %>
    <%= link_to 'Send message', dialogs_path(from: @current_user.id, to: @user.id), method: :post %>
<% end %>
<% if @current_user.is_friend? @user %>
    <p>This user is a friend of you.</p>
<% else %>
    <% if FriendRequest.requested? @current_user, @user %>
        <p>You have already sent frienship request.</p>
    <% else %>
        <%= form_for FriendRequest.new do |f| %>
            <%= hidden_field_tag :from_id, @current_user.id %>
            <%= hidden_field_tag :to_id, @user.id %>
            <%= f.submit 'Add friend', class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>
<% if @user.friends.any? %>
    <h1>Friends</h1>
    <%= render @user.friends %>
<% else %>
    <h1>This user has no friends.</h1>
<% end %>
<h1>The Wall</h1>
<h6>We don't need no education...</h6>
<div id="wall"><%= render @user.wall %></div>
<h1>Post</h1>
<%= form_for Post.new, remote: true do |f| %>
    <%= hidden_field :user, :id %>
    <%= hidden_field :current_user, :id %>
    <%= f.label 'Content' %>
    <%= f.text_area :content, class: 'form-control' %>
    <br>
    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>

<%= subscribe_to "/wall/#{@user.id}" %>
<script>
    PrivatePub.subscribe('/wall/<%= @user.id %>', function (data, channel) {
        $('#wall').prepend(form_input(data));
    });
    var form_input;

    form_input = function(data) {
        var ouput;
        return ouput = "<div class=\"post\"><p><strong>" + data.post.from + "</strong></p><p>" + data.post.content + "</p><hr></div>";
    };
</script>