<h1>Info</h1>
<table class="table">
<% unless user.first_name.blank? %>
    <tr><td>First name</td> <td><%= user.first_name %></td></tr>
<% end %>
<% unless user.last_name.blank? %>
    <tr><td>Last name</td> <td><%= user.last_name %></td></tr>
<% end %>
<% unless user.date_of_birth.blank? %>
    <tr><td>Date of birth</td> <td><%= user.date_of_birth %></td></tr>
<% end %>
<% unless user.city.blank? %>
    <tr><td>City</td> <td><%= user.city %></td></tr>
<% end %>
<% unless user.country.blank? %>
    <tr><td>Country</td> <td><%= user.country %></td></tr>
<% end %>
<% unless user.school.blank? %>
    <tr><td>School</td> <td><%= user.school %></td></tr>
<% end %>
<% unless user.university.blank? %>
    <tr><td>University</td> <td><%= user.university %></td></tr>
<% end %>
<% unless user.occupation.blank? %>
    <tr><td>Occupation</td> <td><%= user.occupation %></td></tr>
<% end %>
</table>