<h1><%= dialog_name dialog %></h1>
<% unless dialog.members.count < 3 %>
    <%= link_to 'Quit dialog', quit_dialog_path(user_id: current_user.id, dialog_id: dialog.id), method: :post %>
<% end %>
<div id="chat-scroll">
  <table id="chat" class="table">
    <%= render dialog.messages %>
  </table>
</div>
<%= subscribe_to "/dialogs/#{dialog.id}" %>
<div id="message-form">
  <%= render 'layouts/message_form' %>
</div>
<script>
    PrivatePub.subscribe('/dialogs/<%= dialog.id %>', function (data, channel) {
        $('#chat').append(formInput(data));
        $('#chat-scroll').scrollTop(document.getElementById('chat-scroll').scrollHeight);
    });
    $('#message_content').keypress(check_dialog_enter);
</script>