<h1>Create dialog</h1>
<%= form_for :dialog, url: dialogs_path do |f| %>
    <%= hidden_field_tag(:multi, true) %>
    <span>Enter list of user's emails you want to chat with in the dialog you are going to create.</span>
    <%= f.text_field :string %>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
    <%= f.hidden_field(:creator_id, value: current_user.id) %>
    <%= f.submit 'Submit' %>
<% end %>