<% provide(:title, "Dialog #{@dialog.name}") %>
<h1><%= @dialog.name %></h1>
<% unless @dialog.members.count < 3 %>
    <%= link_to 'Quit dialog', quit_dialog_path(user_id: current_user.id, dialog_id: @dialog.id), method: :post %>
<% end %>
<table id="chat" class="table">
  <%= render @dialog.messages %>
</table>

<%= subscribe_to "/dialogs/#{@dialog.id}" %>
<div id="message-form">
  <%= render 'layouts/message_form' %>
</div>


<script>
    PrivatePub.subscribe('/dialogs/<%= @dialog.id %>', function (data, channel) {
        $('#chat').append(formInput(data));
    });
    function formInput(data) {
        var output = '<tr><td>' + data.message.from + '</td><td>' + data.message.content + '</td></tr>';
        return output
    }
    $('#message_content').keypress(function(e) {
        if (e.which === 13) {
            return $('#new_message').submit();
        }
    });


</script>