<h1><%= @dialog.name %></h1>
<% unless @dialog.members.count < 3 %>
    <%= link_to 'Quit dialog', quit_dialog_path(user_id: current_user.id, dialog_id: @dialog.id), method: :post %>
<% end %>
<table id="chat">
  <%= render @dialog.messages %>
</table>

<%= subscribe_to "/dialogs/#{@dialog.id}" %>

<%= form_for Message.new, remote: true do |f| %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :dialog_id, value: @dialog.id %>
    <%= f.text_area :content %>
    <%= f.submit 'Submit' %>
<% end %>

<script>
    PrivatePub.subscribe('/dialogs/<%= @dialog.id %>', function (data, channel) {
        $('#chat').append(formInput(data));
    });
    function formInput(data) {
        var output = '<tr><td>' + data.message.from + '</td><td>' + data.message.content + '</td></tr>'
        return output
    }
</script>